{% extends 'base.html.twig' %}

{% block title %}New StripBoxe{% endblock %}

{% block body %}
    <h1 class="text-center text-gray mb-5 mt-5">Ta première vignette BD</h1>

    {{ include('strip_boxe/_form.html.twig') }}
{% endblock %}
