@import "~bootstrap/scss/bootstrap";
body {
    background: no-repeat url(https://c0.wallpaperflare.com/preview/949/813/279/texture-paper-grunge-aged.jpg);
    background-attachment: fixed; 
    background-position: top right;
    background-size: 100% 100%;
}